body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,div {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font:12px/1.5 Microsoft Yahei,"微软雅黑",SimSun,"宋体", sans-serif ,arial;
    background: url(../img/bg1.png) no-repeat;
    background-size:cover;
   /* background-color: #ccc;*/
}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
ul,li {
    list-style: none;
}
img {
    border: none;
}
a {
    text-decoration: none;
    color: #333;
}
.fl{float:left;}
.fr{float:right;}
.clearfix:after {
	content: "."; 
	display: block; 
	height:0; 
	clear:both;
	visibility: hidden;
}
.clearfix { *zoom:1; }

.form-wraper{
	width: 70%;
	position: absolute;
	left: 50%;
	margin-left: -35%;
	margin-top: 80%;
}
.list-wraper li{
	margin-bottom: 10px;
	font-size: 14px;
}

.list-wraper li input{
	border: 1px solid #ccc;
	border-radius:6px;
	outline: none;
	padding:6px 10px ;
	font-size: 14px;
}
.list-wraper li input[type='checkbox'] {
	margin-top: 3px;
	vertical-align: middle;
}
.list-wraper li label {
	vertical-align: middle;
}
.list-wraper li input:focus{
	border: 1px solid #488ee7;
}
.input-text{
	width: 85%;
}
.loadway{
	font-size: 15px;
	color: #FDC40A;
}
#submitBtn{
	-webkit-appearance: none;
	background: #FDC40A;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
    box-shadow: inset 0 0 10px #fff;
}
#SubBtnInfo{
	color: #fc4343;
	font-size:14px;
	/*display: none;*/
	opacity:0;
	transition:1s;
}
input[type="checkbox"]{
	display: inline-block;
}
.info{
	color: #333;
}
.info-mark{
	color: red;
}

.btn-wrapper {
	height: 10%;
	text-align: center;
}
.list-wraper .btn-wrapper {
	margin-bottom: 0;
}

	/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	margin-left:98px;
	line-height:27px;
	height:27px;
	overflow:hidden;
	text-align: left;
	color:#999;
	width: 160px;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(img/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(img/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(img/onLoad.gif) no-repeat left center;
}
.Validform_error{
	/*background-color:#ffe7e7;*/
	border: 1px solid #e22 !important;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}
